<div class="container">

    <span class="title"><i class="fas fa-list-ul"></i> <b>Angular</b> Todo List</span>
    <hr>

    <div class="interface">
        <input type="text" autocomplete="off" [(ngModel)]="newTask.name" maxlength="45">
        <button class="add" (click)="addTask()">Add</button>

        <div [@collapseAnim]="hideOnBool( newTask.name.length === 0 )" class="task newTask"> <i class="far fa-check-square nohover"></i> <span>{{newTask.name}}</span> <small>Jun 12</small> </div>
    </div>
    
    <div class="tasks">

        <span class="section">In Progress</span>
        <div *ngFor="let task of tasks | completedFilter:{completed: false}" class="task"> <i class="far fa-check-square unchecked" (click)="completeTask(task.date)"></i> <span>{{ task.name }}</span> <small>{{ task.date | date }}</small> </div>
        <!-- <div class="task"> <i class="far fa-check-square unchecked"></i> <span>Task Five</span> <small>Jun 12</small> </div> -->
    
        <span class="section">Completed <small (click)="toggleCompleted()">{{ hideOnBool(!hideCompletedTasks) }}</small></span>
        <div [@collapseAnim]="hideOnBool( hideCompletedTasks )" class="completed">
            <div *ngFor="let task of tasks | completedFilter:{completed: true}" class="task"> <i class="fas fa-trash-alt trash" (click)="removeTask(task.date)"></i> <span>{{ task.name }}</span> <small>{{ task.date | date }}</small> </div>
            <!-- <div class="task"> <i class="far fa-check-square checked"></i> <span>Task Two</span> <small>Jun 12</small> </div> -->
            <!-- <div class="task"> <i class="far fa-check-square checked"></i> <span>Task Three</span> <small>Jun 12</small> </div> -->
        </div>

    </div>

</div>