::selection{
    background: #0096e646;
}

.container{
    display: block;
    width: 600px;
    min-height: 300px; 
    max-height: auto;
    margin: 50px auto;
    font-family: 'Lato', sans-serif;
    padding: 18px 18px;
    background: white;
}

.title{
    font-size: 1.2em;
}

.title > i{
    margin-right: 5px;
}

.section{
    display: block;
    margin-top: 20px;
}

hr{
    background: #ccc;
    border: 0.2px solid #ccc;
}

.interface{
    display: block;
    width: inherit;
    height: auto;
    padding: 18px 0px 0px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    transition: height 0.1s ease-in-out;
    -webkit-transition: height 0.1s ease-in-out;
    -moz-transition: height 0.1s ease-in-out;
}

.interface > input[type="text"]{
    display: inline-block;
    width: auto;
    min-width: 280px;
    padding: 5px 4px;
    font-size: 1.1em;
    color: rgb(80, 80, 80);
    border: 1px solid #ccc;
    border-radius: 2px;
}

.interface > input[type="text"]:focus{
    outline: none;
}

.newTask {
    margin-top: 15px !important;
    opacity: 0;
    color: rgb(80, 80, 80);
    border: 1px solid rgb(210, 210, 210) !important;
}

.add{
    display: inline-block;
    padding: 4.5px 4px;
    font-size: 1.05em;
    margin-left: 6px;
    width: 90px;
    background: #00a8ff;
    color: white;
    border: none;
    border-bottom: 4px solid #0097e6;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: bottom;
    transition: border-bottom 0.2s ease-in-out;
    -webkit-transition: border-bottom 0.2s ease-in-out;
    -moz-transition: border-bottom 0.2s ease-in-out;
}

.add:focus{
    border-bottom: 3px solid #0097e6;
}

.tasks{
    width: inherit;
    min-height: 200px;
    height: auto;
    padding-top: 20px;
}

.task{
    width: inherit;
    min-height: 50px;
    height: auto;
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 4px;
    padding: 8px 8px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.task > span{
    display: block;
    float: left;
    width: 80%;
    word-wrap: break-word;
    margin-top: 7px;
    margin-left: 2px;
}

.task > i{
    float: left;
    font-size: 1.4em;
    margin-top: 6px;
    margin-left: 4px;
    cursor: pointer;
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opaccity 0.2s ease-in-out;
}

.task > i:hover{
    opacity: 0.8;
}

.task > small{
    float: right;
    color: rgb(170, 170, 170);
}

.checked{
    opacity: 0.8 !important;
}

.unchecked{
    opacity: 0.2;
}

.nohover{
    cursor: default !important;
}

.nohover:hover{
    opacity: 0.2 !important;
}

.completed{
    color: rgb(175, 175, 175) !important; 
}

.trash{
    opacity: 0.5 !important;
}

.trash:hover{
    opacity: 1 !important;
}

.task > span{
    display: inline-block;
    font-size: 1.05em;
    margin-left: 5px;
}

.section > small{
    float: right;
    cursor: pointer;
    color: rgb(125, 125, 125);
    transition: color 0.2s ease-in-out;
    -webkit-trasnition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
}

.section > small:hover{
    color: rgb(60, 60, 60);
}